<div class="container">
    <input type="text" name="message" placeholder="Enter Your Message" [(ngModel)]="setText">
    <button (click)="fromComp1Function()">Send Message to Component 2</button>
</div>


<style>
    div.container{
        background-color: rgb(243, 239, 230);
        height: 14vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    div.container input{
        width: 30%;
        padding: 1rem;
        height: 2rem;
        border-radius: 0.3rem;
        margin-top:  2rem;
        border: 1px solid ;
    }

    div.container button{
        width: 20%;
        margin-top:  2rem;
        height: 2rem;
    }

</style>